
<div class="block1">
    <p style=font-size:2em;>Авторизація</p>
  <div>
    <input type="mail" placeholder="Елекронна адреса"/><p>
  </div>
  <div>
    <input type="password" placeholder="Пароль"/><p>
  </div>
  <div>
    <input type="button"
    class="button_ok" value="Підтвердити" />
     <p><p></p>
        <a style="color: rgb(0, 0, 0);
        margin-top: 10em;
        text-shadow: rgba(231, 231, 231, 0.573) 1px 0 10px;" href="#">Забули пароль?
    </a>
  </div>
    

</div>