.a {
  text-decoration: none;
  color: black;
}

p {
  margin-top: 10em;
}

.mt-18{
    margin-top: 18px;
}
a:hover {
  font-size: 1.1rem;
  text-shadow: rgba(0, 0, 0, 0.573) 1px 0 10px;
}
.main_logo {
  width: 50px;
  height: 34px;
  margin: 0px 0px 0px 25px;
}

#lost_pass {
    color: rgb(0, 0, 0);
    text-shadow: rgba(231, 231, 231, 0.573) 1px 0 10px;
}

input[type="search"] {
  transition: width 0.4s ease-in-out;
  outline: none;
  width: 20%;
}

input[type="search"]:focus {
  width: 300px;
}

input[type="text"] {
  border-radius: 10px;
  text-align: center;
}
input[type="text"]:focus {
  border-radius: 10px;
  border: 0px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  outline: none;
}
input[type="password"] {
  border-radius: 10px;
  text-align: center;
}
input[type="password"]:focus {
  border-radius: 10px;
  border: 0px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  outline: none;
}
input[type="mail"] {
  border-radius: 10px;
  text-align: center;
}
input[type="mail"]:focus {
  border-radius: 10px;
  border: 0px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  outline: none;
}

.search {
  border: none;
  font-size: 22px;
}

#logo_div {
  width: 10%;
  display: inline-block;
}
#search_div {
  width: 70%;
  display: inline-block;
}
#user_div {
  width: 19%;
  display: inline-block;
}
.user_button {
  display: inline-block;
  margin-right: 10px;
}
.background {
  text-align: center;
  background-color: rgb(178, 245, 245);
}

.block1 {
  display: block;
  text-align: center;
  background-image: url("https://img.freepik.com/free-photo/vivid-blurred-colorful-background_58702-2655.jpg?auto=format&h=200");
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border-color: blanchedalmond;
  border: 1px solid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
  width: 13em;
  height: 15em;
}
.block3 {
  text-align: center;
  background-image: url("https://img.freepik.com/free-photo/vivid-blurred-colorful-background_58702-2655.jpg?auto=format&h=200");
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border-color: blanchedalmond;
  border: 1px solid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
  width: 13em;
  height: 18.5em;
}
.block2 {
  margin-left: 100px;
  margin-right: 100px;
}
.auto_center {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
  width: 13em;
}
.button_ok {
  background-color: rgb(0, 0, 0);
  border: 1px;
  border-color: brown;
  border-radius: 10px;
  color: azure;
  filter: drop-shadow(0 0 0.25rem rgb(0, 0, 0));
  transition: 1s;
}
.button_ok:hover {
  background-color: rgb(255, 255, 255);
  filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
  color: black;
  transform: scale(1.2);
}
