<nav>
  <div class="" style="margin-top: 10px">
    <div class="block2">
      <div id="logo_div">
        <a href="/">
          <img
            src="img/logo/NASA_logo.svg.png"
            alt="Logo"
            width="30"
            height="24"
            class="main_logo"
          />
        </a>
      </div>

      <div id="search_div">
        <input type="text" class="search" placeholder="Search" />
        <a class="a" href="#">
          <span class="material-symbols-outlined" style="">
            search
          </span>
        </a>
      </div>

      <div id="user_div">
        <div class="user_button">
          <a class="a" href="/user/regisration">Реєстрація</a>
        </div>

        <div class="user_button">
          <a class="a" href="/user/account/">Авторизація</a>
        </div>
      </div>
      <hr />
    </div>
  </div>
</nav>