<div>
  <nav>
    <input type="button" class="button" value="KNOPKA" />
    <input type="button" class="button" value="KNOPKA" />
    <input type="button" class="button" value="KNOPKA" />
    <input type="button" class="button" value="KNOPKA" />
  </nav>

  <div><a href="/">MAIN</a><a href="user/account/">ACCOUNT</a></div>
  <div><a href="/user/regisration">REGISTRATION</a></div>
</div>